In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## English

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data1 = pd.read_csv("drive/MyDrive/news/english/True.csv")
data2 = pd.read_csv("drive/MyDrive/news/english/Fake.csv")
data = pd.concat([data1, data2]).reset_index(drop=True)
data

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
44893,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
44894,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
44895,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
44896,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
44897,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [ ]:
y = [1 for i in range(data1.shape[0])] + [0 for i in range(data2.shape[0])]
y = pd.Series(y)
y

0        1
1        1
2        1
3        1
4        1
        ..
44893    0
44894    0
44895    0
44896    0
44897    0
Length: 44898, dtype: int64

In [ ]:
def transform(c):
    return c["title"] + " " + c["text"]
data = data.apply(transform, axis=1)
data

0        As U.S. budget fight looms, Republicans flip t...
1        U.S. military to accept transgender recruits o...
2        Senior U.S. Republican senator: 'Let Mr. Muell...
3        FBI Russia probe helped by Australian diplomat...
4        Trump wants Postal Service to charge 'much mor...
                               ...
44893    McPain: John McCain Furious That Iran Treated ...
44894    JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
44895    Sunnistan: US and Allied ‘Safe Zone’ Plan to T...
44896    How to Blow $700 Million: Al Jazeera America F...
44897    10 U.S. Navy Sailors Held by Iranian Military ...
Length: 44898, dtype: object

Text Processing - Cleaning

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from nltk.tokenize import word_tokenize

from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer(language="english")

from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

import string
punct = string.punctuation

In [ ]:
def process(s):
    for p in punct:
        s = s.replace(p, '')
    s = s.lower()
    s = word_tokenize(s)
    s = [w for w in s if not w in stop_words] #optional
    s = [stemmer.stem(word) for word in s]
    return s

In [ ]:
from tqdm import tqdm
number_of_samples = data.shape[0]

for i in tqdm(range(number_of_samples)):
    data[i] = process(data[i])

100%|██████████| 44898/44898 [05:02<00:00, 148.42it/s]

In [ ]:
data

0        [us, budget, fight, loom, republican, flip, fi...
1        [us, militari, accept, transgend, recruit, mon...
2        [senior, us, republican, senat, let, mr, muell...
3        [fbi, russia, probe, help, australian, diploma...
4        [trump, want, postal, servic, charg, much, ama...
                               ...
44893    [mcpain, john, mccain, furious, iran, treat, u...
44894    [justic, yahoo, settl, email, privaci, classac...
44895    [sunnistan, us, alli, ‘, safe, zone, ’, plan, ...
44896    [blow, 700, million, al, jazeera, america, fin...
44897    [10, us, navi, sailor, held, iranian, militari...
Length: 44898, dtype: object

In [ ]:
number_of_samples = data.shape[0]

from tqdm import tqdm

for i in tqdm(range(number_of_samples)):
    data[i] = process(data[i])

In [ ]:
for i in tqdm(range(number_of_samples)):
    data[i] = " ".join(data[i])

  0%|          | 0/49972 [00:00<?, ?it/s]<ipython-input-17-36299d1c0717>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = " ".join(data[i])
100%|██████████| 49972/49972 [00:33<00:00, 1496.79it/s]

In [ ]:
for i in tqdm(range(number_of_samples)):
    data[i] = " ".join(data[i])

100%|██████████| 44898/44898 [00:01<00:00, 37897.08it/s]

In [ ]:
data

0        polic find mass grave least 15 bodi near mexic...
1        hundr palestinian flee flood gaza israel open dam
2        christian bale pass role steve job actor repor...
3        hbo appl talk 15month appl tv stream servic la...
4                      spider burrow tourist stomach chest
                               ...
49967    urgent leader isil abu bakr albaghdadi kill photo
49968    brian william slam social media specul weather...
49969       mexico say miss student found first mass grave
49970    us lawmak ten isi fighter apprehend come acros...
49971            shot heard alleg brown shoot record audio
Name: Headline, Length: 49972, dtype: object

## Hindi

In [ ]:
import json
import pandas as pd
import re

with open('drive/MyDrive/news/hindi/fake_news-all.json') as f:
  fake_news = json.load(f)
  #json to dataframe
  fake_news = pd.json_normalize(fake_news,'fake_news')
  f.close()

with open('drive/MyDrive/news/hindi/true_news_all_dirty.json') as f:
  true_news = json.load(f)
  #json to dataframe
  true_news = pd.json_normalize(true_news,'true_news')
  f.close()

In [ ]:
true_news = true_news.rename(columns={'short_desc': 'short_description'})

In [ ]:
# dropping unncessary columns
true_news = true_news.drop(['full_title','long_description','name','url'],axis=1)
fake_news = fake_news.drop(['full_title', 'long_description', 'url'],axis=1)

In [ ]:
# removing null values
fake_news = fake_news.dropna()
true_news = true_news.dropna()

Text Processing - Cleaning

In [ ]:
import warnings
warnings.filterwarnings('ignore')

def punct_re(true_news):
    for i in list(true_news):
        true_news[i]=true_news[i].str.replace('|', '')
        true_news[i]=true_news[i].str.replace('?', '')
        true_news[i]=true_news[i].str.replace(':', '')
        true_news[i]=true_news[i].str.replace(';', '')
        true_news[i]=true_news[i].str.replace("'", '')
        true_news[i]=true_news[i].str.replace('"', '')
        true_news[i]=true_news[i].str.replace(',', '')
        true_news[i]=true_news[i].str.replace('.', '')
        true_news[i]=true_news[i].str.replace('(', '')
        true_news[i]=true_news[i].str.replace(')', '')
        true_news[i]=true_news[i].str.replace('\n', '')
        true_news[i]=true_news[i].str.replace('&', '')
    return true_news

In [ ]:
true_news = punct_re(true_news)
fake_news = punct_re(fake_news)

Stemming

In [ ]:
suffixes = {
    1: ["ो", "े", "ू", "ु", "ी", "ि", "ा"],
    2: ["कर", "ाओ", "िए", "ाई", "ाए", "ने", "नी", "ना", "ते", "ीं", "ती", "ता", "ाँ", "ां", "ों", "ें"],
    3: ["ाकर", "ाइए", "ाईं", "ाया", "ेगी", "ेगा", "ोगी", "ोगे", "ाने", "ाना", "ाते", "ाती", "ाता", "तीं", "ाओं", "ाएं", "ुओं", "ुएं", "ुआं"],
    4: ["ाएगी", "ाएगा", "ाओगी", "ाओगे", "एंगी", "ेंगी", "एंगे", "ेंगे", "ूंगी", "ूंगा", "ातीं", "नाओं", "नाएं", "ताओं", "ताएं", "ियाँ", "ियों", "ियां"],
    5: ["ाएंगी", "ाएंगे", "ाऊंगी", "ाऊंगा", "ाइयाँ", "ाइयों", "ाइयां"],
}

def hi_stem(word):
    for L in 5, 4, 3, 2, 1:
        if len(word) > L + 1:
            for suf in suffixes[L]:
                if word.endswith(suf):
                    return word[:-L]
    return word

In [ ]:
id=list(fake_news.index)
id1=list(true_news.index)

In [ ]:
str_temp=""
count=0
for i in list(fake_news):
  count=0
  for j in list(fake_news[i]):
    for words in j.split():
      str_temp+=hi_stem(words)
      str_temp+=" "
    fake_news.loc[id[count],i]=str_temp
    str_temp=""
    count+=1

In [ ]:
str_temp=""
count=0
for i in list(true_news):
  count=0
  for j in list(true_news[i]):
    for words in j.split():
      str_temp+=hi_stem(words)
      str_temp+=" "
    true_news.loc[id1[count],i]=str_temp
    str_temp=""
    count+=1

Stop words removal

In [ ]:
stop=open('drive/MyDrive/news/hindi/final_stopwords.txt')
stopwords=[]
for x in stop:
  x = x.replace('\n', '')
  stopwords.append(x)

In [ ]:
from numpy import unicode
str_temp=""
count=0
for i in list(fake_news):
  count=0
  for j in list(fake_news[i]):
    for words in j.split():
      if unicode(words) not in stopwords:
        str_temp+=words
        str_temp+=" "
    fake_news.loc[id[count],i]=str_temp
    str_temp=""
    count+=1

In [ ]:
from numpy import unicode
str_temp=""
count=0
for i in list(true_news):
  count=0
  for j in list(true_news[i]):
    for words in j.split():
      if unicode(words) not in stopwords:
        str_temp+=words
        str_temp+=" "
    true_news.loc[id1[count],i]=str_temp
    str_temp=""
    count+=1

In [ ]:
# make both length equal
if len(fake_news) > len(true_news):
  fake_news = fake_news.head(len(true_news))
elif len(true_news) > len(fake_news):
  true_news = true_news.head(len(fake_news))
print("Length of fake news: ", len(fake_news))
print("Length of true news: ", len(true_news))

Length of fake news:  760
Length of true news:  760

In [ ]:
true_news['label']=1
fake_news['label']=0
news = pd.concat([fake_news, true_news])
news

                                     short_description  label
0    बूम पाय इमरान खान भारत सरकार आलोच रह वर्तमान श...      0
1    सिख समुदाय के लोग हिंद साइन बोर्ड कालिख पोत दि...      0
2    सोशल मीडिय प्लेटफ़ॉर्म फ़ेसबुक ट्विटर दाव के बड़ ...      0
3                 दाव भाजप के मा सरकार जन के गलत रह ।       0
4    मीडिय आउटलेट्स वायर एजेंस गलत तरीक दाव किय पाक...      0
..                                                 ...    ...
887  चालक कार रोक के बजाय चल जार रख ट्रैफ़िक पुलिसक...      1
888                 मिसाइल 400 किलोमीटर ज़्याद मार सक       1
889  आकर्षण केंद्र वो शक्तिशाल पहलवान जिनक संबंध प्...      1
890  बिहार के जातिगत समीकरण बात लंब बीजेप हिंद पहचा...      1
891  एनआईए 83 साल के फ़ादर स्टेन स्वाम गिरफ़्तार यू...      1

[1520 rows x 2 columns]

## Bengali

In [ ]:
!pip install bnlp_toolkit

Collecting bnlp_toolkit
  Downloading bnlp_toolkit-3.1.2-py3-none-any.whl (17 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (1.21.6)
Collecting gensim==4.0.1
  Downloading gensim-4.0.1-cp37-cp37m-manylinux1_x86_64.whl (23.9 MB)
     |████████████████████████████████| 23.9 MB 33.6 MB/s
Collecting sklearn-crfsuite
  Downloading sklearn_crfsuite-0.3.6-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (1.4.1)
Collecting sentencepiece
  Downloading sentencepiece-0.1.96-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 66.3 MB/s
Requirement already satisfied: wasabi in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (0.9.1)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from bnlp_toolkit) (3.2.5)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim==4.0.1->bnlp_toolkit) (5.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->bnlp_toolkit) (1.15.0)
Requirement already satisfied: tqdm>=2.0 in /usr/local/lib/python3.7/dist-packages (from sklearn-crfsuite->bnlp_toolkit) (4.64.0)
Collecting python-crfsuite>=0.8.3
  Downloading python_crfsuite-0.9.8-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (965 kB)
     |████████████████████████████████| 965 kB 41.4 MB/s
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from sklearn-crfsuite->bnlp_toolkit) (0.8.9)
Installing collected packages: python-crfsuite, sklearn-crfsuite, sentencepiece, gensim, bnlp-toolkit
  Attempting uninstall: gensim
    Found existing installation: gensim 3.6.0
    Uninstalling gensim-3.6.0:
      Successfully uninstalled gensim-3.6.0
Successfully installed bnlp-toolkit-3.1.2 gensim-4.0.1 python-crfsuite-0.9.8 sentencepiece-0.1.96 sklearn-crfsuite-0.3.6

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd
auth = pd.read_csv("drive/MyDrive/news/bengali/Authentic-48K.csv")
fake = pd.read_csv("drive/MyDrive/news/bengali/Fake-1K.csv")

In [ ]:
df = auth[:fake.shape[0]]
df = df.append(fake)
df = df.sample(frac=1).reset_index(drop=True)

Preprocessing

In [ ]:
from bnlp import BasicTokenizer
from bnlp.corpus import stopwords, punctuations, letters, digits

btokenizer = BasicTokenizer()

def clean_text(text):
    tokens = btokenizer.tokenize(text)
    filtered = []
    for i in tokens:
        if i in stopwords:
            continue

        if i in punctuations + '‘' + '’':
            continue

        filtered.append(i)

    return " ".join(filtered)

In [ ]:
df['headline'] = df.headline.apply(clean_text)
df['content'] = df.content.apply(clean_text)

In [ ]:
# dropping unncessary columns
df = df.drop(['articleID','domain','date','category'],axis=1)